<div class="container">
  <div class="brand">Softtek Library</div>
  {{partial 'navbar'}}
  {{outlet}}
  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-collapse collapse" id="footer">
          <ul class="nav navbar-nav navbar-right">
            {{#nav-link-to 'about'}}About{{/nav-link-to}}
            {{#nav-link-to 'contact'}}Contact{{/nav-link-to}}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#nav-link-to 'admin.invitations'}}Invitations{{/nav-link-to}}
                {{#nav-link-to 'admin.contacts'}}Contacts{{/nav-link-to}}
                {{#nav-link-to 'admin.seeder'}}Seeder{{/nav-link-to}}
              </ul>
            </li>
          </ul>
        </div>
        </div>
      </div>
</footer>
</div>
